<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Item</h2>
    <svg class="icon icon--white collapsible__chevron">
      <use xlink:href="Images/sprite.svg#snap"></use>
    </svg>
  </header>
  <div class="collapsible__content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit quod eum,
    suscipit,
  </div>
</div>
<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Item</h2>
    <svg class="icon icon--white collapsible__chevron">
      <use xlink:href="Images/sprite.svg#snap"></use>
    </svg>
  </header>
  <div class="collapsible__content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit quod eum,
    suscipit,
  </div>
</div>
<script src="js/main.js"></script>
